.bg {
  background-image: url(/background_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}

.title {
  @apply text-lg font-title uppercase font-bold text-center w-[100vw] mt-[3rem] mb-[5rem];
}
@screen md {
  .title {
    @apply text-xl;
  }
}

.margin {
  @apply my-[3rem];
}

@screen lg {
  .barberAndCalendarSelectorCt {
    @apply flex flex-row justify-evenly items-center mt-[5rem] py-[6rem];
    @apply w-[90vw] md:w-[70vw] my-0 mx-auto border-[1px] rounded-[30px];
    box-shadow: 0px 0px 21px 5px rgb(0, 0, 0);
  }
}

.barberInnerCt {
  @apply flex justify-center h-fit gap-[2rem] mx-[.7rem] mt-[3rem];
}
.barberInnerCt .photoCt {
  @apply flex flex-col items-center justify-between h-fit gap-[1.5rem];
}
.barberInnerCt .photoCt img {
  @apply w-[26vw] sm:max-w-[18vw] md:max-w-[130px];
}
.barberInnerCt .introductionCt {
  @apply flex flex-col items-start justify-between w-[50%] md:w-fit gap-[1.5rem];
}
.barberInnerCt .introductionCt .ratingCt {
  @apply flex flex-col;
}
.barberInnerCt .introductionCt .introduction {
  @apply text-justify hyphens-auto text-xs md:w-[55ch] md:text-sm tracking-widest sm:leading-[1.7rem];
}

.choosedBarberImg {
  @apply w-[32vw] sm:max-w-[18vw] md:max-w-[170px];
  -webkit-clip-path: circle(34% at 50% 40%);
          clip-path: circle(34% at 50% 40%);
}

.serviceArticle {
  @apply flex flex-col items-center justify-evenly gap-5 mt-[2.5rem] pb-[2rem] mx-[1rem];
  @apply w-[90vw] md:w-[70vw] my-0 mx-auto border-[1px] rounded-[30px];
  box-shadow: 0px 0px 21px 5px rgb(0, 0, 0);
}

.serviceButtons {
  @apply flex flex-col items-center gap-[2rem] mx-[.5rem] mt-[3rem];
}
@screen lg {
  .serviceButtons {
    @apply flex flex-row flex-wrap justify-center max-w-[50vw] 2xl:max-w-[45vw] my-0 mx-auto mt-[3rem];
  }
}

.serviceOuterCt {
  @apply flex flex-col items-center mt-[2rem] gap-[1.1rem] md:flex md:justify-center py-[2rem];
}

.serviceListItem {
  @apply flex flex-row justify-between items-center border-b border-dotted mb-[1rem];
}

.priceAndService {
  @apply flex flex-col items-start;
}

.selectedService {
  @apply text-center text-md text-action;
}

.timeSlotOuterCt {
  @apply flex flex-col items-center justify-evenly gap-5 mt-[2.5rem] mx-[1rem] py-[4rem];
  @apply w-[90vw] md:w-[70vw] my-0 mx-auto border-[1px] rounded-[30px];
  box-shadow: 0px 0px 21px 5px rgb(0, 0, 0);
}
@screen md {
  .timeSlotOuterCt {
    @apply w-[70vw] my-0 mx-auto mt-[2.5rem];
  }
}
.timeSlotOuterCt ul {
  @apply flex flex-wrap justify-center gap-[2rem];
}
.timeSlotOuterCt ul li {
  @apply px-[1.7rem] py-[.4rem] border border-action rounded-[30px];
}
.timeSlotOuterCt ul li:hover {
  @apply bg-action text-white;
}

.formOuterCt {
  @apply flex flex-col items-center;
  @apply w-[90vw] md:w-[70vw] my-0 mx-auto border-[1px] rounded-[30px];
  box-shadow: 0px 0px 21px 5px rgb(0, 0, 0);
}

.form {
  @apply flex flex-col items-center gap-[2rem] w-[80%] md:w-[50vw] lg:w-[30vw] xl:w-[20vw] py-[4rem];
}/*# sourceMappingURL=Appointment.module.css.map */