.bg {
  background-image: url(/background_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}

.title {
  @apply text-lg font-title uppercase font-bold text-center w-[100vw] mt-[3rem] mb-[5rem];
}
@screen md {
  .title {
    @apply text-xl;
  }
}

.margin {
  @apply my-[3rem];
}

.barberAndCalendarSelectorCt {
  @apply flex flex-col pb-[2rem];
}
@screen sm {
  .barberAndCalendarSelectorCt {
    @apply w-[90vw] md:w-[70vw] my-0 mx-auto border-[1px] rounded-[30px];
    box-shadow: 0px 0px 21px 5px rgb(0, 0, 0);
  }
}
@screen lg {
  .barberAndCalendarSelectorCt {
    @apply flex flex-row justify-evenly items-center mt-[5rem] py-[3rem];
  }
}

.barberInnerCt {
  @apply flex justify-center h-fit gap-[2rem] mx-[.7rem] mt-[3rem] sm:w-[80%];
}
.barberInnerCt .photoCt {
  @apply flex flex-col items-center justify-between h-fit gap-[1.5rem];
}
.barberInnerCt .photoCt img {
  @apply w-[26vw] sm:max-w-[18vw] md:max-w-[130px];
}
.barberInnerCt .introductionCt {
  @apply flex flex-col items-start justify-between w-[50%] md:w-fit gap-[1.5rem];
}
.barberInnerCt .introductionCt .ratingCt {
  @apply flex flex-col;
}
.barberInnerCt .introductionCt .introduction {
  @apply text-justify hyphens-auto text-xs lg:w-[55ch] lg:text-sm tracking-widest sm:leading-[1.7rem];
}

.choosedBarberImg {
  @apply w-[32vw] sm:max-w-[18vw] md:max-w-[170px];
  -webkit-clip-path: circle(34% at 50% 40%);
          clip-path: circle(34% at 50% 40%);
}

.serviceArticle {
  @apply flex flex-col items-center justify-evenly gap-5 mt-[2.5rem] pb-[2rem] mx-[1rem];
  @apply w-[90vw] md:w-[70vw] my-0 mx-auto border-[1px] rounded-[30px];
  box-shadow: 0px 0px 21px 5px rgb(0, 0, 0);
}

.serviceButtons {
  @apply flex flex-col items-center gap-[2rem] mx-[.5rem] mt-[3rem];
}
@screen lg {
  .serviceButtons {
    @apply flex flex-row flex-wrap justify-center max-w-[50vw] 2xl:max-w-[45vw] my-0 mx-auto mt-[3rem];
  }
}

.serviceOuterCt {
  @apply flex flex-col items-center mt-[2rem] gap-[1.1rem] md:flex md:justify-center py-[2rem];
}

.serviceListItem {
  @apply flex flex-row justify-between items-center border-b border-dotted mb-[1rem];
}

.priceAndService {
  @apply flex flex-col items-start;
}

.selectedService {
  @apply text-center text-md text-action;
}

.timeSlotOuterCt {
  @apply flex flex-col items-center justify-evenly gap-5 mt-[2.5rem] mx-[1rem] py-[4rem];
  @apply w-[90vw] md:w-[70vw] my-0 mx-auto border-[1px] rounded-[30px];
  box-shadow: 0px 0px 21px 5px rgb(0, 0, 0);
}
@screen md {
  .timeSlotOuterCt {
    @apply w-[70vw] my-0 mx-auto mt-[2.5rem];
  }
}
.timeSlotOuterCt ul {
  @apply flex flex-wrap justify-center gap-[2rem];
}
.timeSlotOuterCt ul li {
  @apply px-[1.7rem] py-[.4rem] border border-action rounded-[30px];
}
.timeSlotOuterCt ul li:hover {
  @apply bg-action text-white;
}

.formOuterCt {
  @apply flex flex-col items-center;
  @apply w-[90vw] md:w-[70vw] my-0 mx-auto border-[1px] rounded-[30px];
  box-shadow: 0px 0px 21px 5px rgb(0, 0, 0);
}

.form {
  @apply flex flex-col items-center gap-[2rem] w-[80%] md:w-[50vw] lg:w-[30vw] xl:w-[20vw] py-[4rem];
}

.buttonBox {
  @apply flex flex-row flex-wrap-reverse gap-[3rem] items-center justify-center w-[80%] lg:w-[40vw] mt-[3rem];
}

.error {
  @apply text-xs text-red-400 relative top-[-20px];
}

.summaryCt {
  @apply flex flex-col items-center;
  @apply w-[90vw] md:w-[70vw] my-0 mx-auto border-[1px] rounded-[30px];
  box-shadow: 0px 0px 21px 5px rgb(0, 0, 0);
}
.summaryCt img {
  @apply w-[150px] mt-[1rem];
}
.summaryCt .selectedOptionsCt {
  @apply flex flex-col items-center gap-[2rem] w-[80%] relative top-[-50px];
}
@screen md {
  .summaryCt .selectedOptionsCt {
    @apply flex-row justify-between items-center top-0;
  }
}
@screen lg {
  .summaryCt .selectedOptionsCt {
    @apply w-[70%];
  }
}
@screen xl {
  .summaryCt .selectedOptionsCt {
    @apply w-[50%];
  }
}
.summaryCt .selectedOptionsCt .barberSummaryCt {
  @apply flex flex-col items-center md:h-[100%];
}
.summaryCt .selectedOptionsCt .selectedBookingDetailsCt {
  @apply w-[80%] text-sm sm:text-md md:w-[35ch] mb-[2rem];
}
.summaryCt .selectedOptionsCt .selectedBookingDetailsCt ul {
  @apply flex flex-col justify-between gap-[3.5rem] md:h-[100%];
}
.summaryCt .selectedOptionsCt .selectedBookingDetailsCt ul li {
  @apply flex justify-between border-b-[2px] border-dotted;
}
.summaryCt .selectedOptionsCt .selectedBookingDetailsCt ul li p {
  @apply font-title font-bold;
}
.summaryCt .selectedOptionsCt .selectedBookingDetailsCt ul li span {
  @apply font-title;
}
.summaryCt .customerDetailsCt {
  @apply flex flex-col w-[80%] mt-[2rem] lg:w-[70%] xl:w-[50%];
}
.summaryCt .customerDetailsCt .customerDetails {
  @apply flex flex-col w-[100%] items-center lg:items-start;
}
.summaryCt .customerDetailsCt .customerDetails ul {
  @apply flex flex-col text-sm sm:text-md gap-[2.5rem];
}
.summaryCt .customerDetailsCt .customerDetails ul p {
  @apply font-bold font-title;
}
.summaryCt .customerDetailsCt .customerDetails ul li {
  @apply flex gap-3 justify-between border-b-[2px] border-dotted;
}
.summaryCt .customerDetailsCt .customerDetails ul li span {
  @apply font-title;
}
.summaryCt .customerDetailsCt .customerDetails ul li:nth-child(4) {
  @apply border-b-0;
}
.summaryCt .customerDetailsCt .customerDetails ul li:nth-child(4) span {
  @apply text-justify hyphens-auto pl-[2rem] overflow-scroll h-[150px];
}
.summaryCt .endLogoInSummary {
  @apply w-auto h-[260px] py-[3rem];
}/*# sourceMappingURL=Appointment.module.css.map */