@mixin smallText{
    @apply text-center w-[80vw] mt-[3rem] italic text-sm;

    @screen md{
        @apply w-[65ch]
    }
}

@mixin imageSize{
    @apply w-[26vw] sm:max-w-[18vw] md:max-w-[130px]
}

@mixin boxBorder{
    @apply w-[90vw] md:w-[70vw] my-0 mx-auto border-[1px] rounded-[30px];
    box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 1);
}

.bg{
    background-image: url(/background_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;

}

.title{
    @apply text-lg font-title uppercase font-bold text-center w-[100vw] mt-[3rem] mb-[5rem];

    @screen md{
        @apply text-xl
    }
}

.margin{
    @apply my-[3rem]
}

.barberAndCalendarSelectorCt{
    @apply flex flex-col pb-[2rem];
    
    @screen sm{
        @include boxBorder
    }

    @screen lg{
        @apply flex flex-row justify-evenly items-center mt-[5rem] py-[3rem];
       
    }
}

.barberInnerCt{
    @apply flex justify-center h-fit gap-[2rem] mx-[.7rem] mt-[3rem] sm:w-[80%];


    .photoCt{
       @apply flex flex-col items-center justify-between h-fit gap-[1.5rem];

       img{
        @include imageSize
       }
    }

    .introductionCt{
        @apply flex flex-col items-start justify-between w-[50%] md:w-fit gap-[1.5rem];
    
        .ratingCt{
            @apply flex flex-col 
        }

        .introduction{
            @apply text-justify hyphens-auto text-xs lg:w-[55ch] lg:text-sm tracking-widest sm:leading-[1.7rem]
        }
    }
}

.choosedBarberImg{
    @apply w-[32vw] sm:max-w-[18vw] md:max-w-[170px];
    clip-path: circle(34% at 50% 40%);
}

//* ServiceSelector----------------------------------

.serviceArticle{
    @apply flex flex-col items-center justify-evenly gap-5 mt-[2.5rem] pb-[2rem] mx-[1rem];
    @include boxBorder
}

.serviceButtons{
    @apply flex flex-col items-center gap-[2rem] mx-[.5rem] mt-[3rem];

    @screen lg{
        @apply flex flex-row flex-wrap justify-center max-w-[50vw] 2xl:max-w-[45vw] my-0 mx-auto mt-[3rem]
    }
}

.serviceOuterCt{
    @apply flex flex-col items-center mt-[2rem] gap-[1.1rem] md:flex md:justify-center py-[2rem]
}

.serviceListItem{
    @apply flex flex-row justify-between items-center border-b border-dotted mb-[1rem]
}

.priceAndService{
    @apply flex flex-col items-start
}

.selectedService{
    @apply text-center text-md text-action ;
    
}

//* Appointment--------------

.timeSlotOuterCt{
   @apply flex flex-col items-center justify-evenly gap-5 mt-[2.5rem] mx-[1rem] py-[4rem];
   @include boxBorder;

   @screen md{
    @apply w-[70vw] my-0 mx-auto mt-[2.5rem]
   }

   ul{
    @apply flex flex-wrap justify-center gap-[2rem];

    li{
        @apply px-[1.7rem] py-[.4rem] border border-action rounded-[30px];
    }
  
    li:hover{
        @apply bg-action text-white;
    }
   }
}

//* Form-------------------------------------------

.formOuterCt{
    @apply flex flex-col items-center;
    @include boxBorder
}

.form{
    @apply flex flex-col items-center gap-[2rem] w-[80%] md:w-[50vw] lg:w-[30vw] xl:w-[20vw] py-[4rem]
}

.buttonBox{
    @apply flex flex-row flex-wrap-reverse gap-[3rem] items-center justify-center w-[80%] lg:w-[40vw] mt-[3rem]
}

.error{
    @apply text-xs text-red-400 relative top-[-20px]
}

//* Summary-----------------------------------------

.summaryCt{
    @apply flex flex-col items-center;
    @include boxBorder;

    img{
        @apply w-[150px] mt-[1rem]
    }

    .selectedOptionsCt{
        @apply flex flex-col items-center gap-[2rem] w-[80%] relative top-[-50px];
        
        @screen md{
            @apply flex-row justify-between items-center top-0;
        }
        @screen lg{
            @apply w-[70%]
        }
        @screen xl{
            @apply w-[50%]
        }

        .barberSummaryCt{
            @apply flex flex-col items-center md:h-[100%];
        }

        .selectedBookingDetailsCt{
            @apply w-[80%] text-sm sm:text-md md:w-[35ch] mb-[2rem];

            ul{
                @apply flex flex-col justify-between gap-[3.5rem] md:h-[100%];

                li{
                    @apply flex justify-between border-b-[2px] border-dotted;

                    p{
                        @apply font-title font-bold
                    }
                    
                    span{
                        @apply font-title
                    }
                }
            }
        } 
    }

    .customerDetailsCt{
        @apply flex flex-col w-[80%] mt-[2rem] lg:w-[70%] xl:w-[50%];

        .customerDetails{
            @apply flex flex-col w-[100%] items-center lg:items-start;

            ul{
                @apply flex flex-col text-sm sm:text-md gap-[2.5rem];

                

                p{
                    @apply font-bold font-title
                }

                li{
                    @apply flex gap-3 justify-between border-b-[2px] border-dotted;
                
                    span{
                        @apply font-title
                    }
                }

                li:nth-child(4){
                    @apply border-b-0;

                    span{
                        @apply text-justify hyphens-auto pl-[2rem] overflow-scroll h-[150px]
                    }
                }
            }
        }
    }

    
    .endLogoInSummary{
        @apply w-auto h-[260px] py-[3rem]
    }
}
