@mixin smallText{
    @apply text-center w-[80vw] mt-[3rem] italic text-sm;

    @screen md{
        @apply w-[65ch]
    }
}

@mixin imageSize{
    @apply w-[26vw] sm:max-w-[18vw] md:max-w-[130px]
}

.bg{
    background-image: url(/background_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;

}

.title{
    @apply text-lg font-title uppercase font-bold text-center w-[100vw] mt-[3rem] mb-[1rem];

    @screen md{
        @apply text-xl
    }
}

.margin{
    @apply mb-[6rem]
}

.barberAndCalendarSelectorCt{
    @screen lg{
        @apply flex flex-row justify-evenly items-center w-[70vw] my-0 mx-auto mt-[5rem] border-[1px] rounded-[30px] py-[6rem];
        box-shadow: 0px 3px 14px -2px rgb(2, 2, 2);
    }
}

.barberInnerCt{
    @apply flex justify-center h-fit gap-[2rem] mx-[.7rem] mt-[3rem];


    .photoCt{
       @apply flex flex-col items-center justify-between h-fit gap-[1.5rem];

       img{
        @include imageSize
       }
    }

    .introductionCt{
        @apply flex flex-col items-start justify-between w-[50%] md:w-fit gap-[1.5rem];
    
        .ratingCt{
            @apply flex flex-col 
        }

        .introduction{
            @apply text-justify hyphens-auto text-xs md:w-[55ch] md:text-sm tracking-widest sm:leading-[1.7rem]
        }
    }
}

.choosedBarberImg{
    @apply w-[32vw] sm:max-w-[18vw] md:max-w-[170px];
    clip-path: circle(34% at 50% 40%);
}

//* ServiceSelector----------------------------------

.serviceButtons{
    @apply flex flex-col items-center gap-[2rem] mx-[.5rem] mt-[3rem];

    @screen sm{
        @apply flex flex-row justify-between gap-[1rem] mt-[3rem];
    }

    @screen lg{
        @apply max-w-[70vw] 2xl:max-w-[45vw] my-0 mx-auto mt-[3rem]
    }

}

.serviceOuterCt{
    @apply flex flex-col items-center mt-[2rem] gap-[1.1rem] md:flex md:justify-center py-[2rem]
}

.serviceListItem{
    @apply flex flex-row justify-between items-center border-b border-dotted mb-[1rem]
}

.priceAndService{
    @apply flex flex-col items-start
}

.selectedService{
    @apply text-center text-md text-action ;
    
}

//* Appointment--------------

.timeSlotOuterCt{
   @apply flex flex-col items-center justify-evenly gap-5 mt-[2.5rem] md:w-[70vw] mx-[1rem] border-[1px] rounded-[30px] py-[4rem];
   box-shadow: 0px 3px 14px -2px rgb(2, 2, 2);

   @screen md{
    @apply w-[70vw] my-0 mx-auto mt-[2.5rem]
   }

   ul{
    @apply flex flex-wrap justify-center gap-[2rem];

    //!button
    li{
        @apply px-[1.7rem] py-[.4rem] border border-action rounded-[30px];
    }

    li:hover{
        @apply bg-action
    }
   }
}
