@mixin title{
    @apply text-md font-title uppercase font-bold text-center w-[100vw];

    @screen md{
        @apply text-lg
    }
}

@mixin smallText{
    @apply text-center w-[80vw] mt-[3rem] italic text-sm;

    @screen md{
        @apply w-[65ch]
    }
}

.errorMessage{
    @apply text-center text-lg text-hoverAction w-[80%] lg:w-[50%] my-0 mx-auto
}

// Hero

.heroContainer{
    background-image: url(/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    @apply overflow-x-hidden 
}

.heroInner{
    @apply flex flex-col items-center h-fit mx-[1rem] mb-[3rem] overflow-x-hidden
}


.logo{
    @apply w-[50vw] sm:w-[300px] md:w-[320px] 
}

.titleContainer{
   @apply  flex gap-[4rem] justify-between items-center my-3 xl:w-[63vw]
}


.redLabels{
    @apply hidden;

    @screen md{
        @apply  h-[40px] w-[100px] px-[.6rem] py-[.1rem];
        @apply bg-action flex justify-center items-center;
        @apply tracking-[.5rem] uppercase text-xs;
    }

    @screen lg{
        @apply w-[150px]
    }
}

// Service

.serviceContainer{
    @apply flex flex-col items-center justify-center mt-5 overflow-x-hidden 
}

.bg{
    @apply w-[60vw] h-auto;
    
    @screen md{
        @apply max-w-[50vw] mr-10
    }
}

.serviceTitle{
    @apply bg-action text-center flex items-center justify-center relative top-[-30px];
    @apply min-w-[30vw] h-fit px-10 py-[.5rem];
    @apply font-title text-sm uppercase font-bold;

    @screen md{
        @apply text-lg 
    }
}

.serviceOptionsContainer{
    @apply flex flex-wrap flex-auto w-[90vw] gap-8 justify-center mt-[2rem] mb-[7rem];

    @screen md{
        @apply max-w-[70vw] gap-[3rem] mt-[5rem]
    }

    .serviceCard{
        @apply w-[40vw] flex flex-col;
        
        @screen md{
            @apply max-w-[200px]
        }
    }
    
    .serviceNumber{
        @apply bg-action w-[5ch] h-[5ch] flex justify-center items-center mb-4 text-md
    }
    
    .serviceName{
        @apply uppercase font-bold text-xs mb-4;

        @screen md{
            @apply text-md
        }
    }
}

// Meet our Barbers

.titleLogo{
    @apply w-[35vw];
    
    @screen sm{
        @apply max-w-[30vw]
    }

    @screen md{
        @apply max-w-[200px]
    }
}

.barberTitle{
    @include title;
    @apply absolute
}

.barberText{
    @include smallText
}

.BarbersCt{
    @apply flex flex-wrap gap-10 justify-center mt-[3rem] w-[85vw] relative overflow-hidden;

    @screen md{
        @apply w-[65vw];
    }

    .barberInnerCt{
        @apply flex flex-col items-center py-3 gap-1
    }
 }

//Contact Information

.contactTitleCt{
    @apply flex flex-col items-center justify-center;

    .contactTitle{
        @include title
    }
    
    .contactText{
        @include smallText;
        @apply mb-[2rem];
        @screen md{
            @apply w-[40ch]
        }
        
    }
}

.contactBg{
    @apply hidden;

    @screen lg{
        @apply absolute ml-[1rem] left-0 top-[30px] w-[25vw] inline -z-10
    }
}

.circle{
    clip-path: circle(50% at 50% 50%);
    @apply min-w-[40px] min-h-[40px] flex items-center justify-center bg-action
}

.formAndInfoOuterCt{
    @apply flex flex-col items-center gap-5;

    @screen lg{
        @apply flex flex-row justify-between relative;
        @apply w-[55vw] right-[-100px] gap-[8rem];

    }

    .form{
        @apply flex flex-col gap-[2.3rem] w-[80vw] items-center mb-[3rem];
        
        @screen md{
            @apply max-w-[30vw]
        }
    };

    .infoList{
        @apply flex flex-col w-[80vw] gap-[2rem] ;

        @screen sm{
            @apply ml-[50vw]
        };

        @screen md{
            @apply ml-[50vw]
        }

        @screen lg{
            @apply h-[100%] gap-[4rem] max-w-[30vw] ml-0
        }
    }
}

.error{
    @apply text-xs text-red-400 relative top-[-30px]
}

