// Hero

.heroContainer{
    background-image: url(/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    @apply max-h-[110vh]
}

.heroInner{
    @apply flex flex-col items-center mx-[1rem] relative top-[-70px] sm:top-[-40px] 
}


.logo{
    @apply w-[50vw] sm:w-[300px] md:w-[320px] 
}

.titleContainer{
   @apply  flex gap-[4rem] justify-between items-center my-3 xl:w-[63vw]
}


.redLabels{
    @apply hidden;

    @screen md{
        @apply  h-[40px] w-[100px] px-[.6rem] py-[.1rem];
        @apply bg-action flex justify-center items-center;
        @apply tracking-[.5rem] uppercase text-xs;
    }

    @screen lg{
        @apply w-[150px]
    }
}

// Service

.serviceContainer{
    @apply flex flex-col items-center justify-center mt-5
}

.bg{
    @apply w-[60vw] h-auto;
    
    @screen md{
        @apply max-w-[50vw] mr-10
    }
}

.serviceTitle{
    @apply bg-action text-center flex items-center justify-center relative top-[-30px];
    @apply min-w-[30vw] h-[5vh] px-10;
    @apply font-title text-sm uppercase font-bold;

    @screen md{
        @apply text-lg
    }
}

.serviceOptionsContainer{
    @apply flex flex-wrap flex-auto w-[90vw] gap-8 justify-center mt-[2rem] mb-[10rem];

    @screen md{
        @apply max-w-[70vw] gap-[3rem] mt-[5rem]
    }

    .serviceCard{
        @apply w-[40vw] flex flex-col;
        
        @screen md{
            @apply max-w-[200px]
        }
    }
    
    .serviceNumber{
        @apply bg-action w-[5ch] h-[5ch] flex justify-center items-center mb-4 text-md
    }
    
    .serviceName{
        @apply uppercase font-bold text-xs mb-4;

        @screen md{
            @apply text-md
        }
    }
}


