.heroContainer {
  background-image: url(/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  @apply max-h-[110vh];
}

.heroInner {
  @apply flex flex-col items-center mx-[1rem] relative top-[-70px] sm:top-[-40px];
}

.logo {
  @apply w-[50vw] sm:w-[300px] md:w-[320px];
}

.titleContainer {
  @apply flex gap-[4rem] justify-between items-center my-3 xl:w-[63vw];
}

.redLabels {
  @apply hidden;
}
@screen md {
  .redLabels {
    @apply h-[40px] w-[100px] px-[.6rem] py-[.1rem];
    @apply bg-action flex justify-center items-center;
    @apply tracking-[.5rem] uppercase text-xs;
  }
}
@screen lg {
  .redLabels {
    @apply w-[150px];
  }
}

.serviceContainer {
  @apply flex flex-col items-center justify-center mt-5;
}

.bg {
  @apply w-[60vw] h-auto;
}
@screen md {
  .bg {
    @apply max-w-[50vw] mr-10;
  }
}

.serviceTitle {
  @apply bg-action text-center flex items-center justify-center relative top-[-30px];
  @apply min-w-[30vw] h-[5vh] px-10;
  @apply font-title text-sm uppercase font-bold;
}
@screen md {
  .serviceTitle {
    @apply text-lg;
  }
}

.serviceOptionsContainer {
  @apply flex flex-wrap flex-auto w-[90vw] gap-8 justify-center mt-[2rem] mb-[7rem];
}
@screen md {
  .serviceOptionsContainer {
    @apply max-w-[70vw] gap-[3rem] mt-[5rem];
  }
}
.serviceOptionsContainer .serviceCard {
  @apply w-[40vw] flex flex-col;
}
@screen md {
  .serviceOptionsContainer .serviceCard {
    @apply max-w-[200px];
  }
}
.serviceOptionsContainer .serviceNumber {
  @apply bg-action w-[5ch] h-[5ch] flex justify-center items-center mb-4 text-md;
}
.serviceOptionsContainer .serviceName {
  @apply uppercase font-bold text-xs mb-4;
}
@screen md {
  .serviceOptionsContainer .serviceName {
    @apply text-md;
  }
}

.titleLogo {
  @apply w-[35vw];
}
@screen sm {
  .titleLogo {
    @apply max-w-[30vw];
  }
}
@screen md {
  .titleLogo {
    @apply max-w-[200px];
  }
}

.barberTitle {
  @apply text-md font-title uppercase font-bold text-center w-[100vw];
  @apply absolute;
}
@screen md {
  .barberTitle {
    @apply text-lg;
  }
}

.barberText {
  @apply text-center w-[80vw] mt-[3rem] italic text-sm;
}
@screen md {
  .barberText {
    @apply w-[65ch];
  }
}

.BarbersCt {
  @apply flex flex-wrap gap-10 justify-center mt-[3rem] w-[85vw] relative;
}
@screen md {
  .BarbersCt {
    @apply w-[65vw];
  }
}
.BarbersCt .barberInnerCt {
  @apply flex flex-col items-center py-3 gap-1;
}

.contactTitleCt {
  @apply flex flex-col items-center justify-center;
}
.contactTitleCt .contactTitle {
  @apply text-md font-title uppercase font-bold text-center w-[100vw];
}
@screen md {
  .contactTitleCt .contactTitle {
    @apply text-lg;
  }
}
.contactTitleCt .contactText {
  @apply text-center w-[80vw] mt-[3rem] italic text-sm;
  @apply mb-[2rem];
}
@screen md {
  .contactTitleCt .contactText {
    @apply w-[65ch];
  }
}
@screen md {
  .contactTitleCt .contactText {
    @apply w-[40ch];
  }
}

.contactBg {
  @apply hidden;
}
@screen lg {
  .contactBg {
    @apply absolute ml-[1rem] left-0 top-[30px] w-[25vw] inline -z-10;
  }
}

.circle {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  @apply min-w-[40px] min-h-[40px] flex items-center justify-center bg-action;
}

.formAndInfoOuterCt {
  @apply flex flex-col items-center gap-5;
}
@screen lg {
  .formAndInfoOuterCt {
    @apply flex flex-row justify-between relative;
    @apply w-[55vw] right-[-100px] gap-[8rem];
  }
}
.formAndInfoOuterCt .form {
  @apply flex flex-col gap-[2.3rem] w-[80vw] items-center mb-[3rem];
}
@screen md {
  .formAndInfoOuterCt .form {
    @apply max-w-[30vw];
  }
}
.formAndInfoOuterCt .infoList {
  @apply flex flex-col w-[80vw] gap-[2rem];
}
@screen sm {
  .formAndInfoOuterCt .infoList {
    @apply ml-[50vw];
  }
}
@screen md {
  .formAndInfoOuterCt .infoList {
    @apply ml-[50vw];
  }
}
@screen lg {
  .formAndInfoOuterCt .infoList {
    @apply h-[100%] gap-[4rem] max-w-[30vw] ml-0;
  }
}

.error {
  @apply text-xs text-red-700 relative top-[-30px];
}/*# sourceMappingURL=Home.module.css.map */